.input {
  margin: 0 auto;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
}

.plus-button {
  align-self: center;
  margin-left: 0.4em;
  width: 40px;
  height: 40px;
  background-color: black;
  border: 5px solid;
  border-radius: 50%;
  background-color: white;
  position: relative;
}

.plus-button::after {
  content: " ";
  position: absolute;
  display: block;
  background-color: black;
  height: 5.3px;
  margin-top: -2.45px;
  top: 50%;
  left: 5px;
  right: 5px;
  z-index: 9;
}

.plus-button::before {
  content: " ";
  position: absolute;
  display: block;
  background-color: black;
  width: 5.3px;
  margin-left: -2.7px;
  left: 50%;
  top: 5px;
  bottom: 5px;
  z-index: 9;
}

.plus-button:hover {
  cursor: pointer;
}

.plus-button:disabled {
  color: black;
}

.todo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item {
  cursor: pointer;
}

.main-container {
  margin: 0 auto;
  max-width: 650px;
  padding: 5em 0;
}

.todo-text {
  display: flex;
}

.todo-text {
  display: flex;
  align-items: center;
  height: 30px;
}

.delete-icon {
  display: flex;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.todo-done {
  margin-left: 10px;
}
